body
    font-family: 'Roboto', sans-serif


.h1
    font-size: 96px
    font-weight: 700
    line-height: 104.64px
    letter-spacing: 0.02em
    @media (max-width: 720px)
        font-size: 34px
        font-weight: 700
        line-height: 38px
        letter-spacing: 0.02em


.h2
    font-weight: 700 
    font-size: 59px
    line-height: 73px
    @media (max-width: 720px)
        font-size: 34px
        font-weight: 700
        line-height: 38px
        letter-spacing: 0.02em


.h3
    font-weight: 500
    font-size: 35px 
    line-height: 42.7px
    @media (max-width: 720px)
        font-size: 23px
        font-weight: 700
        line-height: 27px
        letter-spacing: 0.04em

.p-big
    font-weight: 700
    font-size: 23px
    line-height: 28px
    @media (max-width: 720px)
        font-size: 16px
        font-weight: 700
        line-height: 22.72px

.p-normal
    font-weight: 400
    font-size: 20px
    line-height: 28px
    @media (max-width: 720px)
        font-size: 16px
        font-weight: 400
        line-height: 23px
        


.p-small
    font-weight: 400
    font-size: 17px
    line-height: 24px
    letter-spacing: -0.01em
    @media (max-width: 720px)
        font-size: 16px
        font-weight: 400
        line-height: 22.72px
        letter-spacing: -0.01em

.text-white
    color:#fff 
.text-black
    color:#1B1F2B
.text-grey
    color:#A6A6A6