@import ./base/_reset
@import ./base/variables
@import ./base/fonts

body
    background-color: var(--beige-100)

select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

.unstyled-date::-webkit-inner-spin-button, 
.unstyled-date::-webkit-calendar-picker-indicator 
    display: none
    -webkit-appearance: none


.container
    position: relative
    max-width: calc(1170px + 60px)
    width: 100%
    margin: 0 auto
    padding: 0 30px
    &_margin-top
        margin-top: 135px
        @media (max-width: 720px)
            margin-top: 76px
    @media (max-width:1024px )
        padding: 0 20px
        max-width: calc(918px + 40px)
    @media (max-width:360px )
        padding: 0 21px
        max-width: calc(318px + 42px)

.title
    color: var(--black)
    text-align: center
    
.subtitle
    color: var(--gray-300)
    margin-top: 30px
    text-align: center
    @media (max-width:360px )
        margin-top: 20px 


.card
    pointer-events: none
    position: relative
    &-detail
        display: flex 
        gap: 15px
        padding: 7px 20px
        margin: -7px -20px
        border-radius: 50px
        @media (max-width: 1024px)
            gap: 16px
        &-link
            color: var(--white)
            pointer-events: auto
            &::before
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                content: ""
                border-radius: 50px
    
    &:hover &-detail
        background: var(--green-400)
    

@import ./blocks/header

@import ./blocks/choose-tour

@import ./blocks/collect-tour

@import ./blocks/reviews

@import ./blocks/travel-photo

@import ./blocks/travel-history
