@import ./base/_reset
@import ./base/variables
@import ./base/fonts

.webp1 
    background-position: center
    background-size: cover
html 
    scroll-behavior: smooth
body
    background-color: var(--beige-100)

select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

.unstyled-date::-webkit-inner-spin-button, 
.unstyled-date::-webkit-calendar-picker-indicator 
    display: none
    -webkit-appearance: none


.container
    position: relative
    max-width: calc(1170px + 60px)
    width: 100%
    margin: 0 auto
    padding: 0 30px
    &_padding-top
        padding-top: 135px
        @media (max-width: 720px)
            padding-top: 76px
    &_margin-top
        margin-top: 135px
        @media (max-width: 720px)
            margin-top: 76px
    @media (max-width:1024px )
        padding-left: 20px
        padding-right: 20px
        max-width: calc(918px + 40px)
    @media (max-width:360px )
        padding-left: 21px
        padding-right: 21px
        max-width: calc(318px + 42px)

.title
    color: var(--black)
    text-align: center
    
.subtitle
    color: var(--gray-300)
    margin-top: 30px
    text-align: center
    @media (max-width:360px )
        margin-top: 20px 
        
@keyframes zoom-in
    0%
        transform: scale(1)
    100%
        transform: scale(1.2)
            
@keyframes zoom-out
    0%
        transform: scale(1.2)

    100%
        transform: scale(1)

.card
    position: relative
    overflow: hidden
    border-radius: 50px
    @media (max-width: 700px)
        border-radius: 20px
    &-zoom
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        animation: zoom-out 300ms ease forwards
    &-link
        width: 0px
        height: 0px
        color: var(--white)
        &::before
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            content: ""
            z-index: 1
            border-radius: 50px
    &-detail
        position: relative
        z-index: 2
        display: flex 
        gap: 15px
        padding: 7px 20px
        margin: -7px -20px
        border-radius: 50px
        cursor: pointer
        @media (max-width: 1024px)
            gap: 16px
    
    &-detail
        background: var(--green-400)

    &-detail:active
        background: var(--orange-200)


    &:hover &-zoom
        animation: zoom-in 300ms ease forwards



@import ./blocks/header

@import ./blocks/choose-tour

@import ./blocks/collect-tour

@import ./blocks/reviews

@import ./blocks/travel-photo

@import ./blocks/travel-history

@import ./blocks/footer
