.choose-tour
    &__container
        display: flex 
        flex-direction: column
        align-items: center 
    &__list
        margin-top: 35px
        display: flex 
        flex-wrap: wrap
        justify-content: center
        gap: 0 30.5px
    &__item
        border-bottom: 2px solid transparent
        padding-bottom: 4px
        color: var(--black)
        transition: border-color 200ms ease, color 200ms ease
        &:hover
            cursor: pointer
            border-color: var(--black)
    &__item-active
        color: var(--orange-200)
        border-bottom: 2px solid var(--orange-200)
        &:hover
            border-bottom: 2px solid var(--orange-200)

    &__cards
        margin-top: 101px
        display: flex 
        justify-content: center
        flex-wrap: wrap
        gap: 30px
    &__card 
        position: relative
        display: flex 
        justify-content: center
        height: 531px
        width: 370px
        border-radius: 50px
        overflow: hidden
        object-fit: cover
        object-position: center

        @for $i from 1 through 6
            &_#{$i}
                background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url('../assets/images/cards/card_tour_photo-#{$i}.jpg')
                background-size: cover
                background-position: center
        &-bottom 
            width: fit-content
            
        
        &-inner
            position: relative
            width: 100%
            padding: 50px
            display: flex 
            flex-direction: column 
            justify-content: space-between

        &-title
            color: var(--white)
        &-cost
            color: var(--white)
            margin-top: 16px
        &-detail-link
            color: var(--white)
    
    

@media (max-width: 1024px)
    .choose-tour__cards
        gap: 18px
    .choose-tour__card
        width: 450px

@media (max-width: 720px)
    .choose-tour__item
        padding-bottom: 0px
        height: 22px
    .choose-tour__list
        margin-top: 30px
        padding-bottom: 3px
        max-width: 325px
        gap: 11px 10px
    .choose-tour__cards
        margin-top: 46px
    .choose-tour__card
        width: 318px
        height: 318px
        border-radius: 20px
    .choose-tour__card-inner
        padding: 25px
    .choose-tour__card-link:hover
        background-color: inherit
    .choose-tour__card-link
        margin-left: -20px
        margin-bottom: -5px
        gap: 18px
    .choose-tour__card-detail
        padding: 7px 19px
        margin: -7px -19px