.choose-tour
    &__container
        display: flex 
        flex-direction: column
        align-items: center 
    &__list
        margin-top: 36px
        display: flex 
        flex-wrap: wrap
        justify-content: center
        gap: 0 30px
    &__item
        border-bottom: 2px solid transparent
        padding-bottom: 2px
        color: var(--black)

    &__item:hover
        cursor: pointer
        border-bottom: 2px solid var(--black)

.choose-tour__cards
    margin-top: 102px
    display: flex 
    justify-content: center
    flex-wrap: wrap
    gap: 30px

    &-card
        position: relative
        display: flex 
        justify-content: center
        height: 531px
        width: 370px
        border-radius: 50px
        @for $i from 1 through 6
            &_#{$i}
                background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%), url('../img/cards/card tour photo-#{$i}.jpg')
                background-size: cover
                background-position: center
    
    &-inner
        position: relative
        width: 100%
        margin: 50px
        display: flex 
        flex-direction: column 
        justify-content: space-between

    &-title
        color: var(--white)
    &-cost
        color: var(--white)
        margin-top: 16px

    &-link
        display: flex 
        margin-left: -19px
        margin-bottom: -7px
        width: 199px
        gap: 15px
        padding: 7px 20px 7px 20px
        border-radius: 50px
        
        &::after
            top: 0
            left: 0
            position: absolute
            inset-block: 0
            inset-inline: 0
            cursor: pointer
            content: ""
            border-radius: 50px
            
        &:hover
            background-color: #286562
           
    &-details 
        display: block
        color: var(--white)
    
    

@media (max-width: 1024px)
    .choose-tour__cards
        gap: 18px
        &-card
            width: 450px

@media (max-width: 720px)
    .choose-tour__list
        margin-top: 30px
        padding-bottom: 0px
        max-width: 325px
        gap: 8px 10px
    .choose-tour__cards
        margin-top: 44px
    .choose-tour__cards-card
        width: 318px
        height: 318px
        border-radius: 20px
    .choose-tour__cards-inner
        margin: 25px
    .choose-tour__cards-link:hover
        background-color: inherit
    .choose-tour__cards-link
        margin-left: -20px
        margin-bottom: -5px
        gap: 18px