.travel-history
    &__container
        display: flex 
        flex-direction: column
        align-items: center
        justify-content: center
    &__subtitle 
        width: 418px
    &__cards
        margin-top: 100px
        display: flex 
        flex-direction: column
        width: 100%
        gap: 50px
    &__card
        border-radius: 50px
        height: 567px
        
    &__inner
        position: relative
        padding: 60px
        height: 100%
        display: flex 
        flex-direction: column
        justify-content: space-between
        color: var(--white)

    @for $i from 1 through 3
        &__card_#{$i}
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url('../assets/images/story/story_photo-#{$i}.jpg')
            background-position: center
            background-size: cover

    
    &__card-title
        width: 554px
    &__card-paragraph
        width: 554px
        margin-top: 37px
    &__card-list
        margin-top: 29px
        margin-left: 30px
    &__card-item
        list-style-type: disc
    &__card-links 
        display: flex
        justify-content: space-between
        align-items: center
    &__card-social-list
        display: flex
        gap: 36px
    &__card-social-link
        pointer-events: auto
        position: relative
        z-index: 10
        color: var(--white)
        border-bottom: 1px solid transparent
        padding-bottom: 2px
        transition: border-color 200ms ease, color 200ms ease
        &:hover
            border-color: var(--white)
        &:active
            color: var(--orange-200)
            border-color: var(--orange-200)
    
    &__card-detail-link
        color: var(--white)
      


@media (max-width: 720px)
    .travel-history
        &__subtitle
            width: 319px

        &__cards
            margin-top: 50px
            gap: 20px
        &__card
            height: 455px
            border-radius: 20px
        &__inner
            padding: 30px 30px 29.5px 30px

        &__card-title
            width: clamp(160px, -14.625rem + 109.444vw, 554px)
        &__card-list
            margin-top: 23px
            margin-left: 24px
        &__card-item:marker
            height: 0px
        &__card-paragraph
            width: clamp(283px, 0.75rem + 75.278vw, 554px)
            margin-top: 20px
        &__card-social
            display: none
        &__card-detail
            gap: 17px

// @media (max-width: 360px)
//     .travel-history
//         &__card-title
//             width: 160px
//         &__card-paragraph
//             width: 283px
//             margin-top: 20px