
    
.travel-history
    &__container
        display: flex 
        flex-direction: column
        align-items: center
        justify-content: center
    &__subtitle 
        width: 418px
    &__cards
        margin-top: 100px
        display: flex 
        flex-direction: column
        width: 100%
        gap: 50px
    &__card
        border-radius: 50px
        height: 567px
        
    &__inner
        position: relative
        padding: 60px
        height: 100%
        display: flex 
        flex-direction: column
        justify-content: space-between
        color: var(--white)

    @for $i from 1 through 3
        &__card_#{$i}
            background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%), url('../assets/images/story/story_photo-#{$i}.jpg')
            background-position: center
            background-size: cover

    
    &__card-title
        width: 554px
    &__card-paragraph
        width: 554px
        margin-top: 37px
    &__card-list
        margin-top: 29px
        margin-left: 30px
    &__card-item
        list-style-type: disc
    &__card-links 
        display: flex
        justify-content: space-between
        align-items: center
    &__card-social-list
        display: flex
        gap: 36px
    &__card-social-link
        position: relative
        z-index: 2
        color: var(--white)
        border-bottom: 1px solid inset
        padding-bottom: 2px
        &:hover
            border-bottom: 1px solid var(--white)
        &:active
            color: var(--orange-200)
            border-bottom: 1px solid var(--orange-200)
    
    &__card-detail-link
        color: var(--white)
      


@media (max-width: 700px)
    .travel-history
        &__subtitle
            width: 319px

        &__cards
            margin-top: 50px
            gap: 20px
        &__card
            height: 455px
            border-radius: 20px
        &__inner
            padding: 32px 30px 31.5px 30px

        &__card-title
            width: 160px
        &__card-list
            margin-top: 23px
            margin-left: 24px

        &__card-item:marker
            height: 0px
        &__card-paragraph
            width: 283px
            margin-top: 20px
        &__card-social
            display: none

        
        &__card-detail
            padding: 8px 19px
            margin: -8px -19px
            gap: 17px